Repository cyrus01337/cyrus01337.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write --no-errors-on-unmatched, eslint, tsc-files

Make Biome match Prettier behaviour when formatting
  .github/workflows/pipeline.yaml
  .lintstagedrc
  package.json
  src/content/types.ts
  src/env.d.ts
Due: biome format --write --no-errors-on-unmatched, eslint, tsc-files

Actually toggle between themes
  src/components/theme-controller.astro
Due: biome format --write --no-errors-on-unmatched, eslint, tsc-files

Simplify check
  src/layouts/base.astro
Due: biome format --write --no-errors-on-unmatched, eslint, tsc-files

Make theme controller stateful
  astro.config.mjs
  biome.jsonc
  bun.lockb
  package.json
  src/components/moon.astro
  src/components/moon.tsx
  src/components/sun.astro
  src/components/sun.tsx
  src/components/theme-controller.astro
  src/components/theme-controller.tsx
  src/pages/index.astro
  tsconfig.json
Due: biome format --write --no-errors-on-unmatched, eslint, tsc-files

Sort ignore list
  biome.jsonc
Due: none

Remove useEffect
  src/components/theme-controller.tsx
Due: none

Apply formatting
  astro.config.js
Due: biome format --write --no-errors-on-unmatched, eslint

Add ESLint configuration for Prettier to avoid conflicts
  eslint.config.js
Due: biome format --write --no-errors-on-unmatched, eslint

Improve lint script
  package.json
Due: biome format --write --no-errors-on-unmatched

Replace React with Preact
  astro.config.js
  bun.lockb
  package.json
  tsconfig.json
Due: biome format --write --no-errors-on-unmatched, eslint

Lint Preact components
  bun.lockb
  eslint.config.js
  package.json
Due: biome format --write --no-errors-on-unmatched, eslint

Set Biome as default formatter for Devcontainer
  .devcontainer/devcontainer.json
Due: biome format --write --no-errors-on-unmatched

Add external configurations
  .devcontainer/Dockerfile
  .editorconfig
  .gitmodules
  .lintstagedrc
  biome.jsonc
Due: none

Ignore external/
  .husky/pre-commit
  eslint.config.js
Due: biome format --write --no-errors-on-unmatched, eslint

Link to external configuration
  .husky/install.js
  eslint.config.js
Due: biome format --write --no-errors-on-unmatched, eslint

Make Husky skippable
  package.json
Due: biome format --write --no-errors-on-unmatched

After-effect of Husky
  bun.lockb
  package.json
Due: biome format --write --no-errors-on-unmatched

Link to external configuration
  .devcontainer/Dockerfile
Due: none

Use external post-install bootstrapper
  .devcontainer/devcontainer.json
Due: biome format --write --no-errors-on-unmatched

Use external Biome configuration
  .github/workflows/pipeline.yaml
  .husky/pre-commit
  .lintstagedrc
  biome.jsonc
  package.json
Due: biome format --write --no-errors-on-unmatched

Result of formatting
  src/env.d.ts
Due: biome format --write --no-errors-on-unmatched, eslint, tsc-files

Delimit commands
  .github/workflows/pipeline.yaml
Due: none

Make Biome configuration path absolute
  .github/workflows/pipeline.yaml
Due: none

Recursively fetch Git submodules before jobs run?
  .github/workflows/pipeline.yaml
Due: none

Maybe it's for jobs
  .github/workflows/pipeline.yaml
Due: none

Recursively fetch Git submodules (the right way)
  .github/workflows/pipeline.yaml
Due: none

Don't reference the file
  .github/workflows/pipeline.yaml
Due: none

JSONC to JSON
  .lintstagedrc
  package.json
Due: biome format --write --no-errors-on-unmatched

Simplify Biome commands
  .github/workflows/pipeline.yaml
  package.json
Due: biome format --write --no-errors-on-unmatched

Supply --since
  .github/workflows/pipeline.yaml
Due: none

Debug Husky installation
  package.json
Due: biome format --write --no-errors-on-unmatched

Remove debug flag
  .husky/pre-commit
Due: none

Disable Husky in pipeline
  .github/workflows/pipeline.yaml
Due: none

Revert prepare script to original
  package.json
Due: biome format --write --no-errors-on-unmatched

Don't checkout when building
  .github/workflows/pipeline.yaml
Due: none

Share checkout action between jobs
  .github/workflows/pipeline.yaml
Due: none

IT'S FUCKING MARIO!!!!!!!!!!!!!!!
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .editorconfig
  .github/workflows/pipeline.yaml
  .gitignore
  .gitmodules
  .husky/install.js
  .husky/pre-commit
  .lintstagedrc
  CNAME
  README.md
  astro.config.js
  bun.lockb
  eslint.config.js
  package.json
  public/github.svg
  src/components/card.astro
  src/components/github.astro
  src/components/moon.tsx
  src/components/sun.tsx
  src/components/theme-controller.tsx
  src/content/blogs/why-i-quit-social-media.mdx
  src/content/config.ts
  src/content/types.ts
  src/env.d.ts
  src/layouts/base.astro
  src/layouts/blogs.astro
  src/pages/blogs/[...slug].astro
  src/pages/index.astro
  tailwind.config.js
  tsconfig.json
Due: biome format --write --no-errors-on-unmatched, eslint, tsc-files

IT'S FUCKING MARIO!!!!!!!!!!!!!!!
  .gitmodules
Due: none

Path conditions:
  biome format --write --no-errors-on-unmatched: ((any of: *.{ts,astro}) or (any of: *.{js,mjs,cjs})) or (any of: *.{json,md})
  eslint: (any of: *.{ts,astro}) or (any of: *.{js,mjs,cjs})
  tsc-files: any of: *.{ts,astro}
